.additional-product {
  @include tablet-width {
    padding-bottom: 77px;
  }

  @include desktop-width {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 85px;
  }
}

.additional-product__title {
  position: relative;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  @include tablet-width {
    display: inline-block;
    padding: 0;
    padding-top: 65px;
    padding-right: 35px;
    padding-left: 40px;
    margin-bottom: 80px;
    margin-left: -2px;

    font-size: 36px;
    line-height: 36px;
    background-color: #ffffff;

    &::before {
      @include pos-absolute(87px, auto, auto, -50%);
      width: 9999px;
      height: 3px;
      background-color: #68b738;
      z-index: -1;
    }
  }

  @include desktop-width {
    margin-right: 35%;
    margin-left: -35px;
    padding-top: 76px;
    padding-left: 35px;

    &::before {
      top: 98px;
    }
  }
}
