.additional-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include tablet-width {
    padding-top: 25px;
    padding-right: 37px;
    padding-bottom: 25px;
    padding-left: 37px;
    flex-direction: row;
    border: 1px solid #cdcdcd;
  }

  @include desktop-width {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.additional-item__title {
  position: relative;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 15px;
  font-family: $font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;

  &::before {
    @include pos-absolute(-14px, auto, auto, 0);
    width: 100%;
    height: 1px;
    background-color: #cdcdcd;
  }

  @include tablet-width {
    flex-grow: 1;
    width: 50%;
    margin: 0;
    font-size: 20px;
    line-height: 20px;

    &::before {
      height: 0;
    }
  }

  @include desktop-width {
    width: 18%;
  }
}

.additional-item__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0;

  @include text-mobile;
  font-size: 14px;
  line-height: 14px;

  @include tablet-width {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
  }

  @include desktop-width {
    width: 31%;
  }
}

.additional-item__volume {
  @include tablet-width {

  }
}

.additional-item__button {
  margin-top: 13px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  font-size: 16px;
  line-height: 20px;

  @include desktop-width {
    width: 27%;
  }
}
