.all-product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &::before {
    @include pos-absolute(0, auto, auto, 0);
    content: url("../../img/icon-plus-mobile.svg");
    top: 27px;
    left: 50%;
    width: 30px;
    height: 30px;
    opacity: 0.2;
    transform: translateX(-50%);
  }
}

.all-product__title {
  margin: 0;
  padding-top: 80px;

  @include text-black;
  font-size: 16px;
  line-height: 20px;
}

.all-product__subtitle {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;

  @include text-mobile;
  font-size: 12px;
  line-height: 16px;
}
