.button {
  display: inline-block;
  vertical-align: middle;
  padding-top: 14px;
  padding-right: 73px;
  padding-bottom: 11px;
  padding-left: 73px;

  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  background-color: $text-green;
  color: #ffffff;
}

.button--color-silver {
  background-color: #f2f2f2;
  font-weight: 400;
  color: $text-silver;
}
