.button {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding-top: 13px;
  padding-right: 73px;
  padding-bottom: 13px;
  padding-left: 73px;
  outline: none;
  border: none;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  background-color: $text-green;
  color: #ffffff;

  &--color-silver {
    padding-bottom: 8px;
    font-size: 16px;
    line-height: 20px;
    color: $text-silver;
    background-color: #f2f2f2;

    @include desktop-width {
      padding-left: 0;
      padding-right: 0;
    }

    &:hover,
    &:focus {
      background-color: #ebebeb;
    }
  }

  &:hover:not(&--color-silver),
  &:focus:not(&--color-silver) {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

.button--promo {
  padding-bottom: 9px;

  @include tablet-width {
    width: auto;
  }
}
