.button {
  display: inline-block;
  vertical-align: middle;
  padding-top: 14px;
  padding-right: 73px;
  padding-bottom: 11px;
  padding-left: 73px;

  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  background-color: $text-green;
  color: #ffffff;
}
