.catalog-item {
  display: flex;
  flex-wrap: wrap;

  @include tablet-width {
    position: relative;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 165px;
    padding-bottom: 52px;
    margin-bottom: 90px;
    width: 324px;

    background-color: $bg-silver;
  }

  @include desktop-width {
    width: 245px;
  }
}

.catalog-item__picture {
  max-height: 144px;
}

.catalog-item__image {
  @include tablet-width {
    @include pos-absolute(0, auto, auto, auto);
    left: 50%;
    transform: translateX(-50%);
  }
}

.catalog-item__title {
  width: 60%;
  padding-top: 20px;

  @include text-black;
  font-size: 16px;
  line-height: 20px;

  @include tablet-width {
    margin: 0 auto;
  }

  @include desktop-width {
    text-align: center;
  }
}

.catalog-item__content {
  width: 140px;

  @include tablet-width {
    margin: 0;
    min-width: 100%;
  }
}

.catalog-item__description {
  width: 100%;
  max-width: 140px;
  margin-top: 15px;
  border-collapse: collapse;

  @include tablet-width {
    margin: 0;
    min-width: 100%;
  }
}

.catalog-item__row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  @include tablet-width {
    width: 100%;
    border-bottom: 1px solid silver;
  }
}

.catalog-item__column {
  padding: 0;

  @include text-mobile;
  font-size: 12px;
  line-height: 16px;

  @include tablet-width {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

.catalog-item__column:nth-child(odd):not(:nth-child(1)) {
  text-align: right;
}

.catalog-item__link {
  width: 100%;
}
