.company-address {
  @include text-mobile;
  display: inline-block;
  margin: 0;
  width: 139px;
  line-height: 20px;
  font-style: normal;
  text-align: left;

  @include tablet-width {
    width: 155px;
    text-align: right;
    font-size: 16px;
  }
}

.company-address__town {
  @include tablet-width {
    display: block;
    margin-top: 19px;
  }
}
