.cooperation {
  position: relative;

  @include tablet-width {
    background-color: #ffffff;
  }
}

.cooperation__container {
  @include wrapper;
  display: flex;
  flex-wrap: wrap;
  padding-top: 28px;

  @include tablet-width {
    padding-top: 64px;
    padding-left: 70px;
    padding-right: 70px;
  }

  @include desktop-width {
    @include pos-absolute(95px, auto, auto, 40px);
    width: 570px;
    padding-top: 65px;
    padding-right: 90px;
    padding-bottom: 57px;
    padding-left: 76px;
    background-color: #ffffff;
  }
}

.cooperation__title {
  @include text-black;
  display: inline-block;
  margin-right: auto;
  max-width: 124px;

  font-size: 16px;
  line-height: 20px;
  text-align: left;

  @include tablet-width {
    max-width: 155px;
    font-size: 20px;
    line-height: 25px;
  }
}
