.cooperation {
  position: relative;
  background-color: #f2f2f2;

  &--page-index {
    background-color: #ffffff;
  }
}

.cooperation__container {
  @include wrapper;
  padding-top: 28px;
  padding-bottom: 26px;

  @include tablet-width {
    padding-top: 64px;
    padding-bottom: 0;
  }

  @include desktop-width {
    position: relative;
    padding-top: 0;
  }
}

.cooperation__content {
  display: flex;
  flex-wrap: wrap;

  @include tablet-width {
    // padding-top: 64px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @include desktop-width {
    @include pos-absolute(95px, auto, auto, 40px);
    width: 570px;
    padding-top: 65px;
    padding-right: 90px;
    padding-bottom: 57px;
    padding-left: 76px;
    background-color: #ffffff;
  }
}

.cooperation__container--catalog,
.cooperation__container--form {
  margin-top: 6px;
  padding-top: 28px;

  @include tablet-width {
    padding-top: 62px;
  }

  @include desktop-width {
    margin-top: 0;
    padding-top: 0;
  }
}

.cooperation__title {
  @include text-black;
  display: inline-block;
  margin-right: auto;
  max-width: 124px;

  font-size: 16px;
  line-height: 20px;
  text-align: left;

  @include tablet-width {
    max-width: 155px;
    font-size: 20px;
    line-height: 25px;
  }
}
