.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__link {
  display: flex;
  align-items: center;

  @include text-mobile;
  font-size: 16px;
  line-height: 16px;

  @include desktop-width {
    padding-top: 0;
    padding-bottom: 0;
  }

  &:hover,
  &:focus {
    color: #68b738;
  }

  &:hover .copyright__icon,
  &:focus .copyright__icon {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__icon {
  fill: #666666;
  margin-left: 23px;
}
