.example {
  padding-bottom: 38px;

  background-color: $bg-silver;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    border-top: 1px solid $bg-silver;
  }
}

.example__container {
  padding-top: 12px;

  @include wrapper($mobile-width);

  @media (min-width: $tablet-width) {
    width: 768px;
    padding-top: 51px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 1440px;

    .example__content {
      width: 430px;
    }
  }
}

.example__title {
  @include block-title;

  @media (min-width: $tablet-width) {
    @include title-block-tablet;
  }

  @media (min-width: $tablet-width) {
    @include title-block-tablet;
  }
}

.example__text {
  @include text-mobile;

  @media (min-width: $tablet-width) {
    margin-top: 60px;
    margin-bottom: 52px;

    @include text-tablet;
  }
}

.example__preview {
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    .example__image-before {
      text-align: center;
    }
  }
}
