.example {
  padding-bottom: 38px;

  background-color: $bg-silver;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    border-top: 1px solid $bg-silver;
  }
}

.example__container {
  padding-top: 17px;

  @include wrapper;

  @include tablet-width {
    padding-top: 51px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @include desktop-width {
    display: flex;
    flex-wrap: wrap;
    width: 1440px;

    .example__content {
      width: 430px;
    }
  }
}

.example__title {
  @include block-title;

  @include tablet-width {
    // @include title-block-tablet;
  }

  @include desktop-width {
    width: 100%;
  }
}

.example__text {
  margin: 0;
  margin-top: 23px;
  margin-bottom: 40px;
  padding-left: 1px;

  @include text-mobile;

  @include tablet-width {
    margin-top: 60px;
    margin-bottom: 52px;

    // @include text-tablet;
  }
}

.example__preview {
  margin-top: 40px;

  @include tablet-width {
    .example__image-before {
      text-align: center;
    }
  }
}

.example__block-toggle {
  margin-top: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example__toggle {
  position: relative;
  display: inline-block;
  margin-left: 19px;
  margin-right: 17px;
  width: 84px;
  height: 14px;
  vertical-align: middle;
  border-radius: 6px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
}

.example__toggle-before,
.example__toggle-after {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.example__bar {
  @include pos-absolute(3px, auto, auto, 4px);
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: #68b738;
  transition: 0.3s;
}

.example-right {
  transform: translateX(100%);
}

.example__image-before .example-right {
  display: none;
}

.example__image-after .example-right {
  display: block;
}
