.form-contact {
  padding-bottom: 13px;

  @include tablet-width {
    padding-bottom: 53px;
  }

  @include desktop-width {
    display: flex;
    flex-wrap: wrap;
  }
}

.form-contact__title {
  margin: 0;
  margin-bottom: 35px;
  padding-top: 28px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  @include tablet-width {
    margin-bottom: 75px;
    padding-top: 75px;
    font-size: 36px;
    line-height: 36px;
  }

  @include desktop-width {
    width: 100%;
  }
}

.form-contact__group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .programm-form__label {
    margin-right: 10px;
  }
}

.form-contact__group:nth-child(1) .programm-form__label {
  @include tablet-width {
    margin-right: 20px;
  }
}

.form-contact__input {
  flex-grow: 1;
}
