.how-it-works {
  padding-top: 30px;
  padding-bottom: 75px;
}

.how-it-works__title {
  @include block-title;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    @include title-block-tablet;
  }
}

.how-it-works__steps {
  @include clear-list;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

.how-it-works__step {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 20px;
  min-height: 60px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    @include pos-absolute();
    left: 0;
    right: auto;
    width: 60px;
    height: 60px;

    background-color: $color-green;
  }

  &::after {
    @include pos-absolute();
    left: 0;
    right: auto;
    width: 60px;
    height: 60px;

    background: url("../../img/advantage-leaf@1x.png") no-repeat center center;
  }

  @media (min-width: $tablet-width) {
    width: 197px;
    margin-right: 128px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.how-it-works__step--powder::after {
  background: url("../../img/advantage-powder@1x.png") no-repeat center center;
}

.how-it-works__step--dining::after {
  background: url("../../img/advantage-dining@1x.png") no-repeat center center;
}

.how-it-works__step--clock::after {
  background: url("../../img/advantage-clock@1x.png") no-repeat center center;
}

.how-it-works__text {
  margin: 0;
  padding-left: 80px;

  @include text-mobile;
}
