.input {
  flex-grow: 1;
  max-height: 52px;
  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 14px;
  border: 1px solid #cdcdcd;
  opacity: 0.5;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @include tablet-width {
    height: 52px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 20px;
    line-height: 20px;
  }

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    outline: 2px solid #444444;
  }

  &:focus:invalid {
    opacity: 1;
    outline: 2px solid #ff8282;
  }

  &:focus:invalid + svg {
    fill: red;
  }

  &:hover + svg {
    fill: #68b738;
  }

  &:invalid:hover + svg {
    fill: red;
  }
}

.input--radio:hover + .input-label,
.input--radio:focus + .input-label {
  &::before,
  &::before {
    border: 1px solid #bababa;
    box-shadow: 0 0 2pt 1pt #809aeb;
    border-radius: 50%;
  }

  &:active {
    opacity: 0.3;
  }
}

.input--checkbox:hover + .input-label,
.input--checkbox:focus + .input-label {
  &::before {
    border: 1px solid #bababa;
    box-shadow: 0 0 2pt 1pt #809aeb;
  }

  &:active {
    opacity: 0.3;
  }
}

.input--area {
  width: 100%;
  max-height: initial;
  padding-top: 14px;
  padding-right: 13px;
  padding-bottom: 9px;
  padding-left: 13px;

  @include tablet-width {
    min-height: 175px;
    padding-left: 17px;
    padding-bottom: 18px;
  }
}
