.input {
  flex-grow: 1;
  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 14px;
  border: 1px solid #cdcdcd;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @include tablet-width {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 20px;
    line-height: 20px;
  }
}


.input--area {
  width: 100%;
  padding-top: 14px;
  padding-right: 13px;
  padding-bottom: 9px;
  padding-left: 13px;

  @include tablet-width {
    padding-left: 17px;
    padding-bottom: 18px;
  }
}
