.input-label {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;

  @include tablet-width {
    font-size: 20px;
    line-height: 20px;
  }
}

// .input-label--box-input {
//   &:hover {
//     .input-icon {
//       fill: #68b738;
//     }
//   }
// }

// .input-label--error {
//   .input-icon {
//     fill: #ff8282;
//   }
// }
