.logo {
  display: flex;
  min-width: 191px;
  height: 65px;
  max-height: 65px;
  align-items: center;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__image {
  display: inline;

  @include tablet-width {
    width: 173px;
    height: 58px;
  }

  @include desktop-width {
    width: 202px;
    height: 59px;
  }
}
