.main-nav__toggle {
  display: flex;
  align-items: center;

  @include pos-absolute(10px, 20px, auto, auto);
  width: 24px;
  height: 18px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  z-index: 1;

  @include tablet-width {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {
  &::before {
    @include pos-absolute(0, auto, auto, 0);
    width: 100%;
    height: 2px;
    background-color: #222222;
    box-shadow: 0 6px 0 #222222, 0 12px 0 #222222;
  }
}
