.main-nav {
  position: relative;
}

.main-nav__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: -15px;
  right: 0;
  width: 24px;
  height: 28px;
  cursor: pointer;
  z-index: 1;

  @include tablet-width {
    display: none;
  }
}

.main-nav__line,
.main-nav__line::before,
.main-nav__line::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #222222;
}

.main-nav__line::before {
  content: "";
  top: -8px;
}

.main-nav__line::after {
  content: "";
  top: 8px;
}
