.page-header {
  display: flex;
  align-items: center;
  min-height: 65px;
}

.page-header__container {
  @include wrapper($mobile-width);
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;

  @include tablet-width {
    max-width: $tablet-width;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 24px;
  }

  @include desktop-width {
    max-width: $desktop-width;
  }
}
