.page-header {
  display: flex;
  align-items: center;
  min-height: 65px;
}

.page-header.page-header--green-background {
  &::before {
    @include desktop-width {
      @include pos-absolute();
      width: 50vw;
      display: block;
      height: 696px;
      background-color: $color-green;
      z-index: 0;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
    }

    @include retina {
      background-image: url("../img/index-background-desktop@2x.jpg");
      background-size: 726px auto;
    }
  }
}

.page-header__container {
  @include wrapper;
  max-width: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  align-items: center;
  z-index: 1;

  @include tablet-width {
    padding-top: 20px;
  }

  @include desktop-width {
    padding-top: 52px;
  }
}

.page-header__picture {
  @include desktop-width {
    max-width: 202px;
  }
}
