.page-header {
  display: flex;
  align-items: center;
  min-height: 65px;

  .page-header__container {
    @include wrapper($mobile-width);
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
  }

  @media (min-width: $tablet-width) {
    .page-header__container {
      width: $tablet-width;
    }
  }

  @media (min-width: $desktop-width) {
    .page-header__container {
      width: $desktop-width;
    }
  }
}
