.page-footer {
  background-color: $bg-silver;
  text-align: center;
}

.page-footer__container {
  @include wrapper($mobile-width);

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.page-footer__logo {
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
