.page-footer {
  background-color: $bg-silver;
  text-align: center;
}

.page-footer__container {
  @include wrapper;

  @include tablet-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 58px;
    padding-bottom: 54px;
  }

  @include desktop-width {
    padding-top: 61px;
    padding-bottom: 56px;
  }
}

.page-footer__logo {
  margin-bottom: 33px;
  padding-top: 41px;

  @include tablet-width {
    max-height: 24px;
    margin: 0;
    margin-right: 30px;
    padding: 0;
  }
}

.page-footer__copyright {
  padding-top: 20px;
  padding-bottom: 30px;

  @include tablet-width {
    padding-top: 0;
    padding-bottom: 0;
  }
}
