.page-main__container {
  @include wrapper($mobile-width);

  @include tablet-width {
    max-width: $tablet-width;
    padding-left: 30px;
    padding-right: 30px;
  }

  @include desktop-width {
    max-width: $desktop-width;
  }
}
