.page-footer {
  background-color: $bg-silver;
  text-align: center;
}

.page-footer__container {
  @include wrapper($mobile-width);

  @include tablet-width {
    max-width: $tablet-width;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include desktop-width {
    max-width: $desktop-width;
  }
}

.page-footer__logo {
  padding-top: 40px;

  @include tablet-width {
    padding: 0;
  }
}
