.page-main__container {
  @include wrapper;
}

.page-main__form {
  padding-bottom: 27px;

  @include tablet-width {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 70px;
  }
}
