.programm-form__group {
  display: flex;
  align-items: center;
}

.programm-form__label {
  margin-right: 15px;
}

.programm-form__input {
  flex-grow: 1;
}

.programm-form__content-info {
  position: relative;
  padding-bottom: 8px;

  &::before {
    @include pos-absolute(auto, -20px, 0, auto);
    width: 100vw;
    height: 1px;
    background-color: #ededed;
  }
}

.programm-form__content-info,
.programm-form__content-programm {
  @include desktop-width {
    display: inline-block;
    width: 50%;
    margin-right: -2px;
  }
}

.programm-form__content-optionally {
  @include tablet-width {
    display: flex;
    flex-wrap: wrap;

    .program-form__title {
      width: 100%;
    }

    .programm-form__group {
      width: 50%;
    }
  }

  @include desktop-width {
    .programm-form__group {
      width: 25%;
    }
  }
}

.programm-form__note {
  @include tablet-width {
    display: inline-block;
  }
}
