.programm-list {
  @include clear-list;

  @include desktop-width {
    display: flex;
    justify-content: space-between;
  }
}

.programm-list__item {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 21px;
  padding-left: 20px;

  background-color: $bg-silver;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet-width {
    position: relative;
    min-height: 372px;
    margin-bottom: 30px;
    padding-top: 75px;
    padding-left: 53px;
    padding-bottom: 63px;
  }

  @include desktop-width {
    display: flex;
    width: 47%;
    margin: 0;
    padding-right: 30px;
  }
}

.programm-list__title {
  @include text-black;
  padding-left: 71px;
  position: relative;
  font-weight: 400;

  &::before {
    @include pos-absolute(-5px, auto, auto, 2px);
    width: 50px;
    height: 50px;
    background-color: $color-green;
    border-radius: 50%;
  }

  &::after {
    @include pos-absolute(-5px, auto, auto, -7px);
    width: 67px;
    height: 49px;
    background: url("../img/icon-cat-slim.svg") no-repeat center center;
  }

  @include tablet-width {
    position: unset;
    padding-left: 0;

    font-size: 36px;
    line-height: 37px;
    text-transform: uppercase;

    &::before {
      @include pos-absolute(92px, 62px, auto, auto);
      width: 200px;
      height: 200px;
    }

    &::after {
      @include pos-absolute(90px, 30px, auto, auto);
      width: 268px;
      height: 194px;
    }
  }

  @include desktop-width {
    padding-left: 164px;
    position: relative;

    font-size: 36px;
    line-height: 37.02px;

    &::before {
      @include pos-absolute(-25px, auto, auto, 0);
      width: 100px;
      height: 100px;
      background-color: $color-green;
      border-radius: 50%;
    }

    &::after {
      @include pos-absolute(-25px, auto, auto, -18px);
      width: 134px;
      height: 97px;
      background: url("../img/icon-cat-slim.svg") no-repeat center center;
    }
  }
}

.programm-list__item--cat-pro .programm-list__title::after {
  background: url("../img/icon-cat-pro.svg") no-repeat center center;
}

.programm-list__description {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-bottom: 22px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  @include text-mobile;

  @include tablet-width {
    max-width: 372px;
    margin-top: 25px;
    padding-bottom: 0;

    @include text-mobile;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }

  @include desktop-width {
    margin-top: 75px;
    max-width: 100%;
  }
}

.programm-list__link {
  position: relative;

  line-height: 16px;
  color: $text-title;
  text-transform: uppercase;

  &::after {
    @include pos-absolute(2px, auto, auto, 96px);
    width: 24px;
    height: 11px;
    content: "";
    background: url("../img/icon-right-arrow-long.svg") center center;
  }

  @include tablet-width {
    margin-top: auto;
    font-size: 20px;
    line-height: 20px;

    &::after {
      top: 4px;
      left: 133px;
    }
  }
}

.programm-list__item--cat-pro .programm-list__link::after {
  left: 127px;
}

@include tablet-width {
  .programm-list__item:nth-child(2) .programm-list__description {
    max-width: 340px;
  }

  .programm-list__item--cat-slim .programm-list__title::after {
    top: 80px;
  }

  .programm-list__item--cat-pro .programm-list__title::after {
    top: 95px;
    max-width: 268px;
  }
}

@include desktop-width {
  .programm-list__item:nth-child(2) .programm-list__description {
    max-width: none;
  }

  .programm-list__item--cat-slim .programm-list__title::after {
    top: -30px;
  }

  .programm-list__item--cat-pro .programm-list__title::after {
    top: -30px;
  }
}
