.programm-form__contents {
  @include desktop-width {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
  }
}

.programm-form__personal-info {
  margin-bottom: 24px;

  @include tablet-width {
    margin-bottom: 70px;
    padding-bottom: 0;
  }

  @include desktop-width {
    margin-bottom: 0;
  }
}

.programm-form__programm-list {
  margin-bottom: 28px;

  @include tablet-width {
    margin-bottom: 75px;
  }

  @include desktop-width {
    margin-bottom: 0;
  }
}

.programm-form__content-contact {
  margin-bottom: 28px;

  @include tablet-width {
    margin-bottom: 67px;
  }

  @include desktop-width {
    margin-bottom: 50px;
  }
}

.programm-form__box-comment {
  margin-bottom: 23px;

  @include tablet-width {
    margin-bottom: 60px;
  }

  @include desktop-width {
    margin-bottom: 62px;
  }
}

.programm-form__content-optionally {
  @include tablet-width {
    margin-bottom: 8px;
  }

  @include desktop-width {
    margin-bottom: 10px;
  }
}

.programm-form__button {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 20px;

  @include tablet-width {
    width: 45%;
    margin-top: 0;
    padding-top: 16px;
    padding-right: 62px;
    padding-bottom: 16px;
    padding-left: 62px;
    font-size: 20px;
    line-height: 20px;
  }

  @include desktop-width {
    width: 46.6%;
  }
}

.programm-form__note {
  margin: 0;
  margin-top: 20px;

  @include text-mobile;
  line-height: 16px;
  text-align: center;

  @include tablet-width {
    width: 47%;
    margin-top: 0;
    display: inline-block;
    font-size: 16px;
  }

  @include desktop-width {
    padding-left: 79px;
    text-align: left;
  }
}
