.programm-list {
  @include clear-list;
}

.programm-list__item {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
  padding-top: 24px;
  padding-right: 20px;
  padding-bottom: 22px;
  padding-left: 20px;

  background-color: $bg-silver;

  &:last-child {
    margin-bottom: 0;
  }
}

.programm-list__item--cat-pro .programm-list__title::after {
  background: url("../../img/icon-cat-pro.svg") no-repeat center center;
  max-width: 268px;
}

.programm-list__title {
  @include text-black;
  padding-left: 70px;
  position: relative;
  font-weight: 400;

  &::before {
    @include pos-absolute(-5px, auto, auto, 0);
    width: 50px;
    height: 50px;
    background-color: $color-green;
    border-radius: 50%;
  }

  &::after {
    @include pos-absolute(-5px, auto, auto, -7px);
    width: 67px;
    height: 49px;
    background: url("../../img/icon-cat-slim.svg") no-repeat center center;
  }
}

.programm-list__description {
  margin-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

  @include text-mobile;
}

.programm-list__link {
  position: relative;

  line-height: 16px;
  color: $text-title;
  text-transform: uppercase;

  &::after {
    @include pos-absolute(3px, auto, auto,100px);
    width: 24px;
    height: 11px;
    content: "";
    background: url("../../img/icon-right-arrow-long.svg") center center;
  }
}

@media (min-width: $tablet-width) {
  .programm-list__item {
    min-height: 372px;
    position: relative;
    padding-top: 81px;
    padding-bottom: 62px;
    padding-left: 52px;
  }

  .programm-list__title {
    position: unset;
    padding-left: 0;
    font-size: 60px;
    line-height: 60px;

    &::before {
      @include pos-absolute(92px, 62px, auto, auto);
      width: 200px;
      height: 200px;
    }

    &::after {
      @include pos-absolute(90px, 30px, auto, auto);
      width: 268px;
      height: 194px;
    }
  }

  .programm-list__description {
    max-width: 371px;
    padding-bottom: 0;

    @include text-tablet;
    border-bottom: none;
  }

  .programm-list__item:nth-child(2) .programm-list__description {
    max-width: 340px;
  }

  .programm-list__link {
    margin-top: auto;
  }
}
