.promo {
  max-height: 305px;
  flex-direction: column;
  text-align: center;
  background-color: $color-green;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;

  @include tablet-width {
    height: 806px;
    max-height: 806px;
    background-image: none;
    background-color: #ffffff;
    background-size: contain;
    text-align: left;
  }

  @include desktop-width {
    height: 600px;
  }
}

.promo__content {
  @include tablet-width {
    max-width: 415px;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
}

.promo__title {
  margin: 0;
  padding-top: 29px;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #ffffff;

  @include tablet-width {
    padding-top: 56px;
    color: #111111;
    font-size: 60px;
    line-height: 60px;
  }
}

.promo__subtitle {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;

  @include tablet-width {
    margin-top: 40px;
    margin-bottom: 51px;
    font-size: 20px;
    line-height: 20px;
    color: #111111;
  }

  @include desktop-width {
    margin-bottom: 56px;
  }
}

.promo__container {
  @include wrapper;
  position: relative;
  z-index: 0;

  @include tablet-width {
    padding-left: 117px;
  }

  @include desktop-width {
    padding-top: 50px;
    padding-left: 190px;
  }
}

.promo__picture {
  @include tablet-width {
    order: 4;

    @include pos-absolute(255px, auto, auto, 30px);
    z-index: -1;
  }

  @include desktop-width {
    @include pos-absolute(25px, 328px, auto, auto);
  }
}

.promo__image {
  width: 100%;
}

.promo__link {
  margin-top: -3px;

  @include tablet-width {
    padding-top: 15px;
    padding-right: 28px;
    padding-bottom: 17px;
    padding-left: 27px;
    align-self: flex-start;
    font-size: 20px;
    line-height: 20px;
  }
}
