.promo-banners {
  position: relative;
  margin-top: 40px;
  margin-bottom: 30px;
  height: 289px;
  text-align: center;
  background-color: $color-green;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;

  &::before {
    @include pos-absolute(0, auto, auto, 0);
    left: 50%;
    top: 65px;

    width: 55px;
    height: 60px;
    content: url("../../img/icon-gift.svg");
    transform: translateX(-50%);
  }
}

.promo-banners__text {
  margin: 0;
  padding: 0;
  padding-top: 190px;
  padding-left: 60px;
  padding-right: 60px;

  @include text-mobile;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
