.promo-banners {
  position: relative;
  margin-top: 42px;
  margin-bottom: 29px;
  height: 289px;
  text-align: center;
  background-color: $color-green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;

  @include retina {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 290px auto;
  }

  &::before {
    @include pos-absolute(0, auto, auto, 0);
    left: 50%;
    top: 65px;

    width: 55px;
    height: 60px;
    content: url("../img/icon-gift.svg");
    transform: translateX(-50%);
  }

  @include tablet-width {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    max-height: 200px;
    margin-top: 70px;
    margin-bottom: 0;

    &::before {
      @include pos-absolute(0, auto, auto, 0);
      top: 46%;
      left: 90px;

      width: 55px;
      height: 60px;
      content: url("../img/icon-gift.svg");
      transform: translateY(-46%);
    }

    @include retina {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px auto;
    }
  }

  @include desktop-width {
    width: 245px;
    max-height: 289px;
    margin: 0;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    &::before {
      @include pos-absolute(0, auto, auto, 0);
      left: 50%;
      top: 65px;

      width: 55px;
      height: 60px;
      content: url("../img/icon-gift.svg");
      transform: translateX(-50%);
    }

    @include retina {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: 290px auto;
    }
  }
}

.promo-banners__text {
  margin: 0;
  padding: 0;
  padding-top: 185px;
  padding-left: 55px;
  padding-right: 55px;

  @include text-mobile;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  @include tablet-width {
    padding: 0;
    padding-top: 72px;
    padding-bottom: 70px;
    padding-left: 424px;
    padding-right: 122px;

    text-align: left;
  }

  @include desktop-width {
    padding: 0;
    padding-top: 187px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
  }
}
