.site-navigation {
  display: none;
  font-size: 18px;

  @include clear-list;

  @include tablet-width {
    display: flex;
  }
}

.site-navigation__item {
  margin-right: 2em;
}

.site-navigation__link {
  @include link-site;
  padding-bottom: 9px;
}

.site-navigation__link-current {
  border-bottom: 2px solid $color-green;
}
