.site-navigation {
  font-size: 18px;

  @include clear-list;

  @include tablet-width {
    display: flex;
  }
}

.site-navigation__item {
  position: relative;
  display: block;
  text-align: center;

  @include tablet-width {
    margin-right: 36px;

    &:last-child {
      margin-right: 0;
    }
  }

  @include desktop-width {
    margin-right: 34px;
  }
}

.site-navigation__link {
  @include link-site;
  display: block;
  padding-top: 11px;
  padding-bottom: 9px;
  cursor: pointer;

  @media (max-width: 767px) {
    padding-top: 24px;
    padding-bottom: 24px;

    font-size: 20px;
    font-weight: 500;
    line-height: 20px;

    &::before {
      @include pos-absolute(0, auto, auto, -20px);
      width: 100vw;
      height: 0;
      border-top: 1px dashed rgba(0, 0, 0, 0.5);
    }
  }

  @include desktop-width {
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-navigation__link--black {
  @include desktop-width {
    color: #111111;
  }
}

.site-navigation__link--current {
  @include tablet-width {
    border-bottom: 2px solid $color-green;
  }

  @include desktop-width {
    border-bottom: 2px solid #ffffff;
  }
}

.site-navigation__link--current-green {
  @include desktop-width {
    border-bottom: 2px solid $color-green;
  }
}
