.social {
  padding-top: 31px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  @include tablet-width {
    padding: 0;
    width: 124px;
    justify-content: space-between;
  }
}

.page-footer__social-list {
  @include clear-list;
  padding-top: 21px;
  padding-bottom: 21px;


  @include tablet-width {
    padding: 0;
    border: none;
  }
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 37px;

  &:last-child {
    margin-right: 0;
  }

  circle,
  path {
    fill: #666666;
  }

  @include tablet-width {
    margin-right: 0;
  }
}

.social__link {
  width: 100%;
  max-height: 19px;
  display: block;

  @include tablet-width {
    max-height: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.social-item__link--vk svg {
  @include tablet-width {
    width: 30px;
    height: 16px;
  }
}

.social-item__link--inst svg {
  @include tablet-width {
    width: 23px;
    height: 23px;
  }
}

.social-item__link--fb svg {
  @include tablet-width {
    width: 14px;
    height: 28px;
  }
}

.social__link svg {
  display: block;
}
