.total {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include tablet-width {
    justify-content: flex-start;
  }
}

.total__weight,
.total__days {
  padding-top: 14px;
  display: flex;
  width: 45%;
  max-height: 56px;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
  text-align: center;

  @include tablet-width {
    width: 23%;
    max-height: 72px;
    padding-top: 14px;
  }

  @include desktop-width {
    width: 162px;
    flex-grow: 0;
  }
}

.total__weight {
  @include tablet-width {
    margin-right: 40px;
  }

  @include desktop-width {
    margin-right: 42px;
  }
}

.total__weight-value,
.total__days-value {
  @include block-title;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  @include tablet-width {
    font-size: 30px;
    line-height: 37px;
  }
}


.total__text {
  margin-top: 8px;
  background-color: $bg-silver;

  @include text-mobile;
  font-size: 12px;
  line-height: 12px;
  width: 57px;

  @include tablet-width {
    width: 80%;
    margin-top: 11px;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 14px;
  }

  @include desktop-width {
    background-color: $bg-silver;
  }
}

.total__cost {
  flex-grow: 1;
  margin: 0;
  margin-top: 34px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: $text-base;
  text-transform: uppercase;

  @include tablet-width {
    flex-grow: 0;
    width: 174px;
    margin-top: 6px;
    margin-left: auto;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: right;
  }

  @include desktop-width {
    width: auto;
    flex-grow: 0;
    margin-left: 0;
    margin-top: 55px;
  }
}

.total__cost-label {
  @include desktop-width {
    margin-right: 60px;
  }
}
