@mixin pos-absolute($top: 0, $right: 0, $bottom: auto, $left: auto) {
  position: absolute;
  content: "";
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

@mixin clear-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin block-title {
  margin: 0;
  color: #111111;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

@mixin link-site {
  color: #222222;
  text-transform: uppercase;
}

@mixin text-black {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  color: #111111;
  text-transform: uppercase;
}

@mixin text-white {
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
}

@mixin wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 320px;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;

  @include tablet-width {
    max-width: $tablet-width;
    padding-left: 30px;
    padding-right: 30px;
  }

  @include desktop-width {
    max-width: $desktop-width;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@mixin text-mobile {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $text-silver;
}

@mixin mobile-width {
  @media (min-width: $mobile-width) {
    @content;
  }
}

@mixin tablet-width {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop-width {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: $retina-dppx) {
    @content;
  }
}
