$font-family: oswaldregular;

$bg-white: #ffffff;
$bg-silver: #f2f2f2;
$text-silver: #444444;
$text-title: #111111;
$color-green: #68b738;

$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 320px;

